/* Form Styling*/
.danger{
    color: rgba(255, 0, 0, 1);
    background-color: rgba(255, 0, 0, 0.2);
}
.invalid{
    color:black;
    background-color: indianred;
}
/*Common Styling*/
/*---------------------------------------------------------------*Home Page*/
.container{
    padding-top:40px;
    font-family: raleway, sans-serif;

}
.hide{
    display:none;
}
/*Homepage Styling
-----------------------------------------------------------------*/
.landing{
    background-color: #5c9bc0;
    padding: 50px;
    text-align: center;
    color: white;
    font-family: raleway, sans-serif;
    font-size: 4em;
}
.business-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px;
    height: 500px;
    background: url('../../web/img/surgeon.jpg') center no-repeat scroll;
    background-size: cover;
    -o-background-size: cover;
}
.signup-button{
    background-color: #222222;
    color:white;
    font-size: 3em;
    font-family: Julius Sans One, sans-serif;
    padding: 12px 20px;
}
.browse-button{
    text-align: center;
    background-color: white;
    color:black;
    font-size: 3em;
    font-family: Julius Sans One, sans-serif;
    padding: 5px;
    border: 2px black solid;
    margin: 20px;
}
.main-body{
    font-family: raleway, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    text-align: center;
}
.testimonial{
    text-align: left;
}
.tagline {
    font-family: Julius Sans One, sans-serif;
    font-size: 3.5em;
    color: black;
}
.img-center {
    margin: 10px auto;
    margin-bottom: 40px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #ffff;}

/* Signin Form.
-------------------------------------------------- */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* Job List Styles 
-----------------------------------------------------*/
.JobList{

    text-align: left;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: raleway;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.JobBox{
    text-align: left;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: raleway;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: flex;
    -ms-flex-align: flex;
    align-items: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.label{
    color:black;
}